block loginModal
  div.hide(ng-controller="LoginFormCtrl", modal="!isLoggedIn", options="modalOptions")
    .modal-body
      .login-container.row-fluid
        #rackspace-logo-container
        #login-form
          form#loginForm.error-icon-only(ng-submit='tryLogin()')
            span.welcome-message= "Welcome to the OpenCenter Control Panel!"
            .alert.alert-error(ng-show="loginFailed")= "Invalid username and/or password"
            .control-group
                label.control-label(for='username')= "Username"
                .controls
                  input(type='text', ng-model='username', required='true', autofocus)
            .control-group
                label.control-label(for='password')= "Password"
                .controls
                  input(type='password', ng-model='password', required='true')
            #login-status
              .form-actions
                button.login-button(type='submit')= "Login"
            span.form-throb.hide
